{% extends 'backoffice/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Игровые консоли</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>Артикул</th>
                <th>Модель</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>

            {% for id, console in consoles %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ console.code }}</td>
                <td>{{ console.name }}</td>
                <td><a href="{{router.generate('backoffice-console-edit', {'id': id})}}">
                    <i class="glyphicon"></i>Edit
                </a><a href="{{router.generate('backoffice-console-delete', {'id': id})}}">
                    <i class="glyphicon"></i>Удалить
                </a></td>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default" href="{{router.generate('backoffice-console-edit', {'id': 0})}}">
            <i class="glyphicon glyphicon-plus"></i> Добавить консоль
        </a>
    </div>
</div>

{% endblock %}