<!--{% extends 'backoffice/layout.html' %}-->

<!--{% block content %}-->

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Console list</h2>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-md-8 col-md-offset-2">-->
        <!--<table class="table table-hover">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Path</th>-->
                <!--<th>id</th>-->
                <!--<th>Name</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--{% if 0 == rootconsoles|length %}-->
            <!--<tr>-->
                <!--<td colspan="99">consoles not found</td>-->
            <!--</tr>-->
            <!--{% endif %}-->
            <!--{% for id, console in rootconsoles %}-->
            <!--{% include 'backoffice/console/console_row.html' with {-->
                    <!--'id': id,-->
                    <!--'console': console,-->
                <!--}-->
            <!--%}-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<a class="btn btn-default" href="{{router.generate('backoffice-console-edit', {'id': 0})}}">-->
            <!--<i class="glyphicon glyphicon-plus"></i> Add new console-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->

<!--{% endblock %}-->
