<!--<tr>-->
    <!--<td>{{ pathPrefix }}{{ console.getCode() }}</td>-->
    <!--<td>{{ id }}</td>-->
    <!--<td>{{ console.getTitle }}</td>-->
    <!--<td>{{ console.getPosition }}</td>-->
    <!--<td>-->
        <!--<a href="{{router.generate('backoffice-console-edit', {'id': id})}}">-->
            <!--<i class="glyphicon glyphicon-pencil"></i>-->
        <!--</a>-->
        <!--<a href="{{router.generate('backoffice-console-delete', {'id': id})}}">-->
            <!--<i class="glyphicon glyphicon-remove"></i>-->
        <!--</a>-->
    <!--</td>-->
<!--</tr>-->

<!--{% for childId, childconsole in childconsoles[id] %}-->
    <!--{% include 'backoffice/console/console_row.html' with {-->
            <!--'id': childId,-->
            <!--'console': childconsole,-->
            <!--'childconsoles': childconsoles,-->
            <!--'pathPrefix': pathPrefix ~ console.getCode() ~ '/'-->
        <!--}-->
    <!--%}-->
<!--{% endfor %}-->
