{% extends '/backoffice/layout.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="{{router.generate('backoffice-game-category-edit', {'id': id})}}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="data[name]" value="{{data['name']}}">
                <input type="hidden" name="data[is_active]" value="1">
            </div>
            <button type="submit" name="data[submit]" value="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
